@model  LatestBlogPosts
@using UmbracoTest_03.Models;

<div id="fh5co-blog-section" class="fh5co-grey-bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>@Model.Title</h2>
                <p>@Model.Introduction</p>
            </div>
        </div>
        @{Html.RenderAction("RenderPostList", "Blog", new { numberOfitems = 3 });}
    </div>
</div>
