@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "WebBase.cshtml";
}
<div class="container">
    @if (TempData["success"]!=null && (bool)TempData["success"] == true)
    {
        <p>Your message was sent successfully</p>
    }
    else
    {
        @{Html.RenderAction("RenderForm", "Contact");}
    }
</div>