@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "WebBase.cshtml";
}

<div id="fh5co-about-section">
    <div class="container about-inner">
        @{Html.RenderAction("RenderTitleControls","SiteLayout");}
        @Html.GetGridHtml(Model,"contentGrid","bootstrap3");
        
    </div>
</div>